.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #5b247a, #1bcedf);  padding: 15px 30px;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo a {
  color: white;
  text-decoration: none; /* optional: remove underline */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.navbar-links li a:hover {
  background-color: #495057;
  border-radius: 5px;
}
